<html>
  <head>
    <%= yield :head %>
    <%= javascript_include_tag 'jquery-1.4.2.min.js' %>
    <%= javascript_include_tag 'notiform.js' %>
    <%= javascript_tag "window.AUTH_TOKEN = '#{form_authenticity_token}';" %>
    <%= stylesheet_link_tag 'notiform' %>
  </head>
  <body>
    <div id="wrapper">
      <div class="header">
        <%= yield :header %>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
