<% content_for :header do %>
  CREATE YOUR FORM, FOOL
<% end %>

<div class="step-container">
  <div class="step-dropcap">Step 1</div>
  <div class="step-content">Create a Wufoo form to track. Make sure to make the <b>first field</b> a  string field only visible by the Administrator. This will be used for our tracking token.</div>
</div>

<div class="step-container">
  <div class="step-dropcap">Step 2</div>
  <div class="step-content">Capture the API Key and the form name, and hand it over to us.</div>
</div>


<% form_for :wufoo_form, @wufoo_form do |f| %>
  <table border=0 cellpadding=0 cellspacing=0>
    <tr><td valign="top">
      <div class="field">
        Subdomain<br />
        <%= f.text_field :subdomain, :size => 25 %>
      </div>
      <div class="field">
        Form Hash<br />
        <%= f.text_field :form_name, :size => 25 %>
      </div>
      <div class="field">
        API Key<br />
        <%= f.text_field :api_key, :size => 25 %>
      </div>
    </td><td valign="top">
      <div class="field">
        Recipient Emails<br />
        <%= f.text_area :recipient_emails, :cols => 30, :rows => 6 %>
      </div>
      <%= submit_tag 'create' %>
    </td></tr>
  </table>
<% end %>

Thanks!
