here we list the submitted entries, a link back to the full form + results (maybe?), and surface buttons for users who haven't submitted the form yet.
<br />

fetch the entries yourself via curl: <br />
curl -u <%= @wf.api_key %>:fakepassword "https://<%= @wf.subdomain %>.wufoo.com/api/v3/forms/<%= @wf.form_name %>/entries.json?system=true"

<br /><br />

Entries: <br />
<% @recipients.each do |recipient| %>
	<%= recipient.email %>
  <% if recipient.last_reminded_at && recipient.last_reminded_at > 2.days.ago %>
    reminded very recently
  <% elsif !recipient.confirmed %>
    <a href="#" class="remind-link" data-id="<%= recipient.id %>">remind</a>
  <% end %><br />
<% end %>

