here we list the submitted entries, a link back to the full form + results (maybe?), and surface buttons for users who haven't submitted the form yet.
<br />

fetch the entries yourself via curl: <br />
curl -u <%= @wf.api_key %>:fakepassword "https://<%= @wf.subdomain %>.wufoo.com/api/v3/forms/<%= @wf.form_name %>/entries.json?system=true"

<br /><br />

Entries:
<table id="report" border=0 cellpadding=0 cellspacing=0>
  <% @recipients.each do |recipient| %>
    <tr><td>
      <%= recipient.email %>
    </td><td>
      <% if recipient.last_reminded_at && recipient.last_reminded_at > 2.days.ago %>
        reminded very recently
      <% elsif !recipient.confirmed %>
        <a href="#" class="remind-link fancy_button" data-id="<%= recipient.id %>">
          <span style="background-color: #070;">Remind</span>
        </a>
      <% end %>
    </td></tr>
  <% end %>
</table>

